<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>E:\\datadog\\logs\\app.log</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>
      <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
         <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %white(%d{ISO8601}) %highlight(%-5level) [%green(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
  <appender name="JSON_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <remoteHost>intake.logs.datadoghq.com</remoteHost>
    <port>10514</port>
    <keepAliveDuration>20 seconds</keepAliveDuration>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <prefix class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>8c942ae95d3dd158c0552d0264d8cce8 %mdc{keyThatDoesNotExist}</pattern>
            </layout>
          </prefix>
    </encoder>
  </appender>
  
  <root level="info">
  <appender-ref ref="Console" />
  </root>>

  <root level="DEBUG">
    <appender-ref ref="FILE"/>
    <appender-ref ref="JSON_TCP" />
  </root>
</configuration>

